<div class="api-keys-container">
  <div class="header">
    <h1>API Keys</h1>
    <button class="create-key" (click)="showModal = true">Create New API Key</button>
  </div>

  <div class="grid-container">
    <div class="grid-header">
      <div class="col">API Key</div>
      <div class="col">Name</div>
      <div class="col">Created By</div>
      <div class="col">Expire At</div>
      <div class="col">Action</div>
    </div>

    <div class="grid-body">
      <div class="grid-row" *ngFor="let key of paginatedKeys">
        <div class="col"><code>{{key.key}}</code></div>
        <div class="col">{{key.name}}</div>
        <div class="col">{{key.createdBy}}</div>
        <div class="col">{{key.expiresAt | date}}</div>
        <div class="col">
          <mat-icon class="edit-icon" (click)="editKey(key)">drive_file_rename_outline</mat-icon>
          <mat-icon class="delete-icon" (click)="deleteKey(key.id)">delete</mat-icon>
        </div>
      </div>
    </div>
  </div>

  <div class="pagination">
    <button [disabled]="currentPage === 1" (click)="previousPage()">Previous</button>
    <span>Page {{currentPage}} of {{totalPages}}</span>
    <button [disabled]="currentPage === totalPages" (click)="nextPage()">Next</button>
  </div>

  <app-add-key-modal 
    *ngIf="showModal" 
    [mode]="modalMode"
    [initialData]="selectedKey ? { name: selectedKey.name, expiresAt: '' } : undefined"
    (close)="closeModal()"
    (create)="createKey($event)"
    (edit)="onEdit($event)">
  </app-add-key-modal>
</div>
